Repository astrolabsoftware/fink-utils, pull requests merged in 2022-06, with the labels that each got.

#8 fix the overflow error in the apparent_flux function of the photometry files
  fink_utils/photometry/conversion.py
Labels: bug fix, documentation

#12 Add utilities for HBase
  fink_utils/hbase/__init__.py
  fink_utils/hbase/utils.py
  fink_utils/photometry/test.py
Labels: hbase, spark

#15 SIMBAD utilities
  .github/workflows/run_test.yml
  fink_utils/xmatch/otypes.txt
  fink_utils/xmatch/simbad.py
Labels: simbad
